<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VoorbeeldExamen1/src/be/pxl/voorbeeldexamen1/vraag3/VoorbeeldExamenVraag3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.pxl.voorbeeldexamen1.vraag3.VoorbeeldExamenVraag3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VoorbeeldExamen1"/>
</launchConfiguration>
